.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
   
    
}
.menuLink:hover{
    filter: brightness(45%);
}
.menuLink{
    transition: all 0.1s ease-in-out;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text-over-primary);
    padding: 1rem;
    border-radius: 0.8rem;
    
}

.menuLink svg{
    height: 2.4rem;
    width: 2.4rem;
}