.cycles{
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    justify-content: center;
}
.cycleDot{
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}
.cycleDots{
    display: flex;
    gap: 0.8rem;
}
.workTime{
    background: var(--warning);
}
.shortBreakTime{
    background: var(--primary);
}
.longBreakTime{
    background: var(--info);
}